.modal-dialog {
  max-width: 514px !important;
}
.product-detail-text {
  font-family: product-font;
  -webkit-text-stroke: 1px #cdcdcd;
  -moz-text-stroke: 1px #cdcdcd;
  -ms-text-stroke: 1px #cdcdcd;
  text-stroke: 1px #cdcdcd;
  font-weight: bold;
  paint-order: stroke fill;

  &.betueldance {
    -webkit-text-stroke: 1px #d9d9d9;
    -moz-text-stroke: 1px #d9d9d9;
    -ms-text-stroke: 1px #d9d9d9;
    text-stroke: 1px #d9d9d9;
    color: white;
  }
}


.depth {
  color: black;
  position: relative;
}
.depth:before, .depth:after {
  content: attr(title);
  color: rgba(255,255,255,.2);
  position: absolute;

}
.depth:before { top: 1px; left: -1px }
.depth:after  { top: 2px; left: -2px }


.inset-text {
  /* Shadows are visible under slightly transparent text color */
  color: rgba(171,171,171, 0.4);
  text-shadow: -2px 2px 3px #f9f9f2, 0 0 0 #979797, -2px 2px 3px #f9f9f2;

  &.betueldance {
    text-shadow: -2px 2px 3px #6e6e6d, 0 0 0 #979797, -2px 2px 3px #d5d5d5;
  }

}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

.image-drop-shadow {
  -webkit-filter: drop-shadow(5px 10px 6px #7a7a7a);
  filter: drop-shadow(5px 10px 6px #7a7a7a);
}

.product-param-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  align-items: center;

  .related-product-params {
    @extend .product-param-wrapper;
    grid-column: 1 / -1;
  }

  .related-param-select {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.category-wrapper {
  div {
    width: 90%;
    margin-right: 1rem;

  }
}