.images-handler-wrapper {
  width: 100%;

  .images-handler-grid {
    $gridSize: 125px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($gridSize, $gridSize));
    grid-template-rows: repeat(auto-fit, minmax($gridSize, $gridSize));
    gap: 1rem;
  }

  .images-handler-tags {
    margin-bottom: 1rem;
  }
  .images-handler-loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, .3);
    top: 0px;
    left: 0px;
  }

  .image-handler-wrapper {
    position: relative;

    .image-item {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;

      * {
        cursor: pointer;
      }
    }

    .image-handler-delete {
      $size: 2rem;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 9;
      height: $size;
      width: $size;
      border-radius: $size;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover {
      .image-handler-delete {
        visibility: visible;
        opacity: 1;
        color: #cc0b0b;
        filter: brightness(100%);
      }
    }
  }

  .image-handler-wrapper:hover, .image-handler-uploader:hover {
    filter: brightness(80%);
  }

  .image-handler-uploader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 3px dashed white;
    color: white;
    cursor: pointer;

    .image-handler-input-file {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
    }

    * {
      cursor: pointer;
    }
  }
}