.orders-management-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

}


.remove-button {
  $size: 40px;
  width: $size;
  min-width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  border-radius: $size;
  border: 1px solid #ccc;
  color: #d82c2c;
  font-size: 1.2rem;
}
