.orders-management-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

  &-item {
    &.selected {
      outline: 3px dashed #2d5ea7;
    }
  }
}


.remove-button {
  $size: 40px;
  width: $size;
  min-width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  border-radius: $size;
  border: 1px solid #ccc;
  color: #d82c2c;
  font-size: 1.2rem;
}

.print-modal {
  max-width: unset !important;
  margin: unset !important;

  .print-modal-content {
    width: 100dvw !important;
    height: 100dvh !important;
    //align-items: center;
    justify-content: center;
    .print-modal-body {
      display: flex;
      overflow: auto;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

