//*{
//  transition: all .3s ease;
//}
.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  .logo {
    cursor: pointer;
  }
}

.option-disabled {
  i, img {
    opacity: .5 !important;
  }
}

.cards {
  margin-bottom: 1em;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  //grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(220px, 220px));
  //grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1em;
  padding: 0 20px;
  width: 90% !important;


  &.cards-shrink {
    //grid-gap: 1.5em;

    .card {
      //padding: 5px;
      border: 3px solid #7a7a7a;
    }
  }

  .card.selected {
    border: 3px solid #dc3545;
    box-shadow: 0 0 5px #dc3545;
  }
}
.total-label {
  position: relative;
}
.total-label::after {
  content: "";
  height: 70%;
  position: absolute;
  right: 0;
  top: 0;
  border-right: 1px solid #ccc;
}

.total-label:last-child::after {
  display: none;
}

.select-date {
  font-size: 25px !important;
}

.label-grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.customize-switch {
  cursor: pointer;
  input {
    cursor: pointer;
    z-index: 1;
  }
}

.customize-switch label::before {
 cursor: pointer !important;
}

.customize-switch label::after {
 cursor: pointer !important;
}
.loading-sale-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: rgba(0,0,0,.3);
  top: 0px;
  left: 0px;
}
th {
  white-space: nowrap;
}

.promotion-icon {
  font-size: 24px;
  z-index: 9;

  &:hover {
    filter: brightness(50%);
  }
}

.facebook-icon {
  filter: brightness(70%);

}

.instagram-icon {
  color: white;
}

.img-promotion-icon {
  height: 26px;
}

.disable-promotions {
  i, img {
    opacity: .5;
  }

  .bi-whatsapp, .bi-activity {
    opacity: 1;
  }
}


.go-to-portfolio {
  width: 50px !important;
  height: 50px !important;
  top: 100px !important;
}

.instagram-icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
  filter: unset;
  display: flex;
  border-radius: 4px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.float-options {
  position: fixed;
  top: 0;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.create-product-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.view-product-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

.change-product-button {
  $distance: 600px;
  position: absolute;
  z-index: 99999 !important;

  &.left {
    margin-left: -$distance;
  }
  &.right {
    margin-right: -$distance;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    width: 100% !important;
  }
}

@media screen and (max-width: 680px) {
  .cards {
    $itemSize: 320px;

    grid-template-columns: repeat(auto-fit, minmax($itemSize, $itemSize));
    grid-template-rows: repeat(auto-fit, minmax($itemSize, $itemSize));

    .card-image {
        min-height: $itemSize;
    }

  }
}

@media screen and (max-width: 420px) {
  .label-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .total-label:nth-child(3)::after {
    display: block;
  }
  .total-label:nth-child(even)::after {
    display: none;
  }
}
