.bible-assistant {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    width: 100%;
    max-width: 1200px;
    gap: 3rem;
  }

  .edit-study-btn {
    position: fixed;
    //bottom: 130px;
    bottom: 40px;
    right: 40px;
    //width: 60px;
    //height: 60px;
  }
}
