.product-param-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  align-items: center;

  .related-product-params {
    @extend .product-param-wrapper;
    grid-column: 1 / -1;
  }

  .color-value-param {
    width: 25px;
    height: 25px;
  }
}