// For eyeglass import:
//@import "text-stroke";

// ...or for webpack import:
@import "~sass-text-stroke/_text-stroke";
@import "Fonts.scss";

$width: 2;
$topBarHeight: 60px;
$bottomBarHeight: 80px;
:root {
  --main-bg-color: pink;
  --text-stroke-color: red;
  --text-stroke-width: 2;
}

@for $i from 1 through 50 {
  .text-stroke-#{$i} {
    @include text-stroke($i, var(--text-stroke-color));
  }
}


.flyer-designer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100dvw;
  max-height: 100dvh;
  margin: 0 auto;
  overflow: hidden;
  background: #d1d1d1;
  user-select: none;
* {
  user-select: none;

}

  &-wrapper {
    width: 100%;
    overflow: auto;
    position: relative;
  }

  &-result-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - ($topBarHeight + $bottomBarHeight));
    overflow-x: hidden;
    overflow-y: auto;
  }

  .flyer-designer-background-image {
    width: 100%;
    height: auto;
  }

  &:focus {
    outline: none;
  }

  .flyer {
    position: relative;
    overflow: hidden;

    &.selected {
      outline: 4px solid #6c6cd3;
      outline-radius: 10px;
      -moz-outline-radius: 10px;

    }

    img, a {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }
  }


  &-top-bar {
    $background: #3f3f84;
    background: $background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: $topBarHeight;

    &-fixed-actions-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-actions-grid {
      display: flex;
      gap: 1rem;
      width: 100%;
      align-items: center;
      overflow-x: auto;

      &-item {
        display: flex;
        align-items: center;
      }
    }


    .expanded-action {
      grid-column: 1 / -1;
    }

    .bi {
      font-size: 1.5rem;
    }

    input[type="color"] {
      border: none;
      padding: 0;

      &::-webkit-color-swatch {
        border-radius: 20px;
      }
    }
  }


  .flyer-designer-element-handler {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .flyer-designer-reset-element-prop-icon {
    $size: 16px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $size - 5px;
    background: white;
    color: #ff5555;
    width: $size;
    height: $size;
    border-radius: $size;
    top: -($size / 2);
    right: -($size / 4);

  }
}


.flyer-designer-bottom-bar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: $bottomBarHeight;

  input {
    width: auto;
  }
}

.flyer-element-change-background-image {
  &.active {
    border: 4px solid #6c6cd3;
    border-radius: 10px;
  }
}