// For eyeglass import:
//@import "text-stroke";

// ...or for webpack import:
@import "~sass-text-stroke/_text-stroke";
@import "Fonts.scss";

$width: 2;

:root {
  --main-bg-color: pink;
  --text-stroke-color: red;
  --text-stroke-width: 2;
}

@for $i from 1 through 50 {
  .text-stroke-#{$i} {
    @include text-stroke($i, var(--text-stroke-color));
  }
}


.flyer-designer {
  position: relative;
  max-width: 32rem;

  .flyer-designer-background-image {
    width: 100%;
    height: auto;
  }
  &:focus {
    outline: none;
  }
  .flyer {
    position: relative;
    width: 100%;
    overflow: hidden;

    .flyer-element {
      .flyer-element-content {
        width: 100%;
        height: 100%;
        --text-stroke-width: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-size: 100% 100%;
        position: relative;
        &:focus-within, &:hover, &.selected {
          outline: 4px solid blue;
        }
      }

      .flyer-element-change-image-action {
        $size: 24px;
        position: absolute;
        right: -$size;
        top: -$size;
        font-size: $size;
        z-index: 1;
        color: white;
        cursor: pointer;
      }



      *:focus-visible {
        outline: none;
      }
    }



    .flyer-element-focus-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    img, a {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }
  }


  .flyer-designer-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;

    .expanded-action {
      grid-column: 1 / -1;
    }
    .bi {
      font-size: 1.5rem;
    }

    input[type="color"] {
      border: none;
      padding: 0;
      &::-webkit-color-swatch {
        border-radius: 20px;
      }
    }
  }


  .flyer-designer-element-handler {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .flyer-designer-reset-element-prop-icon {
    position: absolute;
    color: red;
    font-size: 18px !important;
    margin-left: 7px;
  }
}


.template-actions {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  flex-wrap: wrap;
}
