@font-face {
  font-family: Reey Regular;
  src: url('../../assets/fonts/Reey-Regular.otf');
  font-weight: bold;
}

@font-face {
  font-family: Rockwell Extra Bold;
  src: url('../../assets/fonts/rockeb.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Abadi MT Condensed;
  src: url('../../assets/fonts/product-detail-text.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Anisha;
  src: url('../../assets/fonts/betueldance-font.otf');
  font-weight: bold;
}


@font-face {
  font-family: betueldance-font;
  src: url('../../assets/fonts/betueldance-font.otf');
  font-weight: bold;
}

@font-face {
  font-family: Oswald;
  src: url('../../assets/fonts/Oswald-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Beta;
  src: url('../../assets/fonts/Beta.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Montserrat Bold;
  src: url('../../assets/fonts/Montserrat-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: Tondu Beta;
  src: url('../../assets/fonts/Tondu_Beta.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Cubano;
  src: url('../../assets/fonts/Cubano.ttf');
  font-weight: bold;
}
