@font-face {
    font-family: product-font;
    src: url('assets/fonts/product-detail-text.ttf');
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.rotating {

}

.App {
    height: 100vh;
}
