
@font-face {
    font-family: product-font;
    src: url('assets/fonts/product-detail-text.ttf');
    font-weight: bold;
}

@font-face {
    font-family: betueldance-font;
    src: url('assets/fonts/betueldance-font.otf');
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-no-pointer {
    cursor: auto !important;
}

.rotating {

}

.App {
    height: 100vh;
    /*padding: 0 4rem*/
}

.disabled {
    background: #bebebe !important;
    color: white !important;
    border: gray !important;
}


.dropdown-menu {
    z-index: 9999 !important;
}

.rotate {
    display: block;
    transition: transform 1s;
    animation: Rotate 1s infinite linear;
}

@keyframes Rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}